@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Invoices Managment System!</h1>
    <br />
    <br />
    <br />
    <br />
    <h3>To view your invoices please click below</h3>
    <br />
    <a class="btn btn-primary mb-1" href="https://localhost:7160/Invoices">Invoices List</a>
    <br />
    <br />
    <h3>To submit new invoice please click below</h3>
    <br />
    <a class="btn btn-primary mb-1" href="https://localhost:7160/Invoices/Create">New Invoice</a>
</div>
