@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


<div class="text-center">
    <h1 class="display-4">Welcome to Invoices Managment System!</h1>
    <br />
    <br />
        <div class="container-index">
        <a href="https://localhost:7160/Invoices/Create" class="btn btn-primary btn-custom">New Invoice</a>
        <a href="https://localhost:7160/Invoices" class="btn btn-secondary btn-custom">Invoice List</a>
    </div>
</div>

